section.nth-allocation-2
	.container
		.row
			.col-12
				.owl-carousel.owl-theme
					.allocation-item-wrapper
						a(href="#").allocation-item
							img(src="./img/_global/shop-1.png", alt="")
						a(href="#").allocation-item
							img(src="./img/_global/shop-2.png", alt="")
					.allocation-item-wrapper
						a(href="#").allocation-item
							img(src="./img/_global/shop-3.png", alt="")
						a(href="#").allocation-item
							img(src="./img/_global/shop-4.png", alt="")
					.allocation-item-wrapper
						a(href="#").allocation-item
							img(src="./img/_global/shop-3.png", alt="")
						a(href="#").allocation-item
							img(src="./img/_global/shop-4.png", alt="")
					.allocation-item-wrapper
						a(href="#").allocation-item
							img(src="./img/_global/shop-3.png", alt="")
						a(href="#").allocation-item
							img(src="./img/_global/shop-4.png", alt="")
					.allocation-item-wrapper
						a(href="#").allocation-item
							img(src="./img/_global/shop-3.png", alt="")
						a(href="#").allocation-item
							img(src="./img/_global/shop-4.png", alt="")
					.allocation-item-wrapper
						a(href="#").allocation-item
							img(src="./img/_global/shop-3.png", alt="")
						a(href="#").allocation-item
							img(src="./img/_global/shop-4.png", alt="")