section.nth-about-3(bg-img="./img/sanphamct/sanphamct-bg.png")
	.container
		.row
			.col
				.tagline
					h1 Thế mạnh của Laura Anne
					p Trải nghiệm hương thơm vượt trội với những giá trị ẩn sau Laura Anne
		.row.advantages
			.col-12.col-md-6.col-lg-3.advantages-item
				figure
					.box-zoom
						img(src="./img/home/home_gioithieu_icon_1.png", alt="")
					figcaption
						h2 Mùi hương hàng đầu
			.col-12.col-md-6.col-lg-3.advantages-item
				figure
					.box-zoom
						img(src="./img/home/home_gioithieu_icon_2.png", alt="")
					figcaption
						h2 100% Nguyên liệu nhập khẩu 
			.col-12.col-md-6.col-lg-3.advantages-item
				figure
					.box-zoom
						img(src="./img/home/home_gioithieu_icon_3.png", alt="")
					figcaption
						h2 Lưu hương dài lâu hơn 8 giờ
			.col-12.col-md-6.col-lg-3.advantages-item
				figure
					.box-zoom
						img(src="./img/home/home_gioithieu_icon_4.png", alt="")
					figcaption
						h2 Đạt tiêu chuẩn quốc tế CGMP