section.nth-faq-1
	.container
		.row
			.col-12(nth-map-to="accordionSideMenu")#accordionSideMenuWrapper
				h2.nth-faq-title hỗ trợ khách hàng
				.nth-faq-nav
					a(href="#").nth-faq-nav-active hỏi đáp
					a(href="#") hỗ trợ mua hàng
		