section.canhcam-home-2(bg-img="./img/home/home_product_bg.png")
	article.home-lists
		.container
			h2 Sản phẩm Laura Anne
			.row
				.col-lg-6.item
					figure
						.boxzoom
							img(src="./img/home/home_sanpham_1.png", alt="alt")
						figcaption
							p
								| Bạn là một cô nàng năng động, tràn đầy năng 
								br
								| lượng hay trẻ trung, sành điệu và quyến rũ? 
								br
								| Dòng nước hoa tinh tế và hiện đại dành cho 
								br
								| phái đẹp tự tin thể hiện cá tính riêng.
							.seemore
								a(href="#") Xem thêm
				.col-lg-6.item
					figure
						.boxzoom
							img(src="./img/home/home_sanpham_2.png", alt="alt")
						figcaption
							p
								| Bạn là một chàng trai đầy cá tính, năng động và 
								br
								| tự do? Dòng nước hoa dành riêng cho nam giới sẽ  
								br
								| giúp bạn thể hiện sự mạnh mẽ, đầy tham vọng và 
								br
								| cuốn hút hơn trong mắt mọi người.
							.seemore
								a(href="#") Xem thêm
