section.nth-product-2
	.nth-product-2-sidemenu-togglebutton
		i.mdi.mdi-filter-outline
		span bộ lọc
	.container
		.row
			.col-lg-4.col-xl-3
				#productFilterMapTo
			.col-12.col-lg-8.col-xl-9
				.nth-product-2-intro
					h1.nth-product-2-title Laura Anne for her
					select(bg-img="./img/_global/selectarrow.png")
						option(value="Mới nhất") Mới nhất
						option(value="Mới nhất") Mới nhất
						option(value="Mới nhất") Mới nhất
				.row
					.col-12.col-sm-6.col-md-4.mt-4
						a(href="javascript:void(0)")
							figure.product
								.box-zoom
									img(src="./img/sanpham/sanpham-1.png", alt="")
								figcaption
									h3.product-brand laura anne
									h4.product-name bleu - pour homme
									p.product-price 130.000 đ
					.col-12.col-sm-6.col-md-4.mt-4
						a(href="javascript:void(0)")
							figure.product
								.box-zoom
									img(src="./img/sanpham/sanpham-1.png", alt="")
								figcaption
									h3.product-brand laura anne
									h4.product-name bleu - pour homme
									p.product-price 130.000 đ
					.col-12.col-sm-6.col-md-4.mt-4
						a(href="javascript:void(0)")
							figure.product
								.box-zoom
									img(src="./img/sanpham/sanpham-1.png", alt="")
								figcaption
									h3.product-brand laura anne
									h4.product-name bleu - pour homme
									p.product-price 130.000 đ
					.col-12.col-sm-6.col-md-4.mt-4
						a(href="javascript:void(0)")
							figure.product
								.box-zoom
									img(src="./img/sanpham/sanpham-1.png", alt="")
								figcaption
									h3.product-brand laura anne
									h4.product-name bleu - pour homme
									p.product-price 130.000 đ
					.col-12.col-sm-6.col-md-4.mt-4
						a(href="javascript:void(0)")
							figure.product
								.box-zoom
									img(src="./img/sanpham/sanpham-1.png", alt="")
								figcaption
									h3.product-brand laura anne
									h4.product-name bleu - pour homme
									p.product-price 130.000 đ
					.col-12.col-sm-6.col-md-4.mt-4
						a(href="javascript:void(0)")
							figure.product
								.box-zoom
									img(src="./img/sanpham/sanpham-1.png", alt="")
								figcaption
									h3.product-brand laura anne
									h4.product-name bleu - pour homme
									p.product-price 130.000 đ
					.col-12.col-sm-6.col-md-4.mt-4
						a(href="javascript:void(0)")
							figure.product
								.box-zoom
									img(src="./img/sanpham/sanpham-1.png", alt="")
								figcaption
									h3.product-brand laura anne
									h4.product-name bleu - pour homme
									p.product-price 130.000 đ
					.col-12.col-sm-6.col-md-4.mt-4
						a(href="javascript:void(0)")
							figure.product
								.box-zoom
									img(src="./img/sanpham/sanpham-1.png", alt="")
								figcaption
									h3.product-brand laura anne
									h4.product-name bleu - pour homme
									p.product-price 130.000 đ
					.col-12.col-sm-6.col-md-4.mt-4
						a(href="javascript:void(0)")
							figure.product
								.box-zoom
									img(src="./img/sanpham/sanpham-1.png", alt="")
								figcaption
									h3.product-brand laura anne
									h4.product-name bleu - pour homme
									p.product-price 130.000 đ