section.nth-product-ct-4
	.container
		.row
			.col
				a(href="https://www.youtube.com/watch?v=y3o7Dg9Ikpc" data-fancybox)
					figure
						.box-zoom
							img(src="./img/sanphamct/sanphamct-video.png", alt="")
							i.far.fa-play-circle
						figcaption
							h3 lorem ipsum dolor sit amet
							p Donec vitae feugiat eros.