section.about-us-2(bg-img="./img/_global/footer_bg.png")
	a(href="./img/gioithieu/gioithieu_1.png" data-fancybox="gioithieu-gallery").fancybox
		figure
			img(src="./img/gioithieu/gioithieu_1.png", alt="").img-fluid
	a(href="./img/gioithieu/gioithieu_2.png" data-fancybox="gioithieu-gallery").fancybox
		figure
			img(src="./img/gioithieu/gioithieu_2.png", alt="").img-fluid
	a(href="./img/gioithieu/gioithieu_3.png" data-fancybox="gioithieu-gallery").fancybox
		figure
			img(src="./img/gioithieu/gioithieu_3.png", alt="").img-fluid
