section.nth-product-ct-5
	.owl-carousel.owl-theme#productBanner
		.item
			a(href="javascript:void(0)")
				figure.mb-0
					img(src="./img/sanphamct/sanphamct-km-1.png", alt="")
					figcaption
						h3 Black Friday - Sale up to 20% các sản phẩm dòng Little Dress
			a(href="javascript:void(0)")
				figure.mb-0
					img(src="./img/sanphamct/sanphamct-km-1.png", alt="")
					figcaption
						h3 Mừng ngày Quốc tế Phụ nữ 20-10 Sale off 15% tất cả sản phẩm For Her.
