section.canhcam-contact-1
	article.contact-lists
		.container
			.title
				h1 Thông tin liên hệ
				p
					| Mọi thắc mắc và yêu cầu hỗ trợ từ Laura Anne, vui lòng để lại thông tin tại đây.
					br
					| Chúng tôi sẽ gửi phản hồi sớm nhất.
			.row
				.col-lg-6
					.list-info
						.block-info
							h2 Địa chỉ
							p
								| Tầng 16, Tòa Nhà Saigon
								br 
								| Tower Số 29 Lê Duẩn, P. Bến
								br
								| Nghé, Q. 1, TP.HCM
						.block-info
							h2 Email & Hotline
							p
								| info@venus-inc.com
								br 
								| +84 - 28 66 80 70 68
						.block-info
							h2 THỜI GIAN LÀM VIỆC
							p
								| Thứ 2 đến thứ 6: 8:30 - 17:30
								br 
								| Thứ 7: 8:30 - 12:00
				.col-lg-6
					.wrap-form
						.form-inner
							.form-group
								input(type="text", name="Họ và tên" placeholder="Họ và tên")
							.form-group
								input(type="text", name="Email" placeholder="Email")
							.form-group
								input(type="text", name="Số điện thoại" placeholder="Số điện thoại")
							.form-group
								input(type="text", name="Địa chỉ" placeholder="Địa chỉ")
							.form-group.qparagraph
								textarea(name="" placeholder="Nội dung")
						.form-group.frm-btnwrap
							.frm-btn
								input(type="submit", value="Gửi")
