section.nth-tips-4
	.container
		.row
			.col-12.col-lg-6
				a(href="#")
					figure.tips.main-tips
						.box-zoom
							img(src="./img/thuvien/gallery-1.png", alt="")
						figcaption
							h3 Khám phá những bí mật chưa bao giờ kể về nước hoa
							p Nước hoa cũng giống như phụ nữ, luôn phảng phất và ẩn chứa những bí mật vô hình bên trong bản chất của nước hoa.
							.tips-viewmore-sub
								span Xem tiếp
								i.mdi.mdi-arrow-right
			.col-12.col-lg-6
				.row.tips-first-row
					.col-12.col-md-6
						a(href="#")
							figure.tips
								.box-zoom
									img(src="./img/thuvien/gallery-1.png", alt="")
								figcaption
									h3 Khám phá những bí mật chưa bao giờ kể về nước hoa
									p Nước hoa cũng giống như phụ nữ, luôn phảng phất và ẩn chứa những bí mật vô hình bên trong bản chất của nước hoa.
					.col-12.col-md-6
						a(href="#")
							figure.tips
								.box-zoom
									img(src="./img/thuvien/gallery-1.png", alt="")
								figcaption
									h3 Khám phá những bí mật chưa bao giờ kể về nước hoa
									p Nước hoa cũng giống như phụ nữ, luôn phảng phất và ẩn chứa những bí mật vô hình bên trong bản chất của nước hoa.
				.row
					.col-12.col-md-6
						a(href="#")
							figure.tips
								.box-zoom
									img(src="./img/thuvien/gallery-1.png", alt="")
								figcaption
									h3 Khám phá những bí mật chưa bao giờ kể về nước hoa
									p Nước hoa cũng giống như phụ nữ, luôn phảng phất và ẩn chứa những bí mật vô hình bên trong bản chất của nước hoa.
					.col-12.col-md-6
						a(href="#")
							figure.tips
								.box-zoom
									img(src="./img/thuvien/gallery-1.png", alt="")
								figcaption
									h3 Khám phá những bí mật chưa bao giờ kể về nước hoa
									p Nước hoa cũng giống như phụ nữ, luôn phảng phất và ẩn chứa những bí mật vô hình bên trong bản chất của nước hoa.