<?xml version="1.0" encoding="utf-8" ?>
<settings>

	<!--value bắt buộc phải là giá trị binary. Ví dụ: 1; 2; 4; 8; 16;...-->
	<position>
		<add name="Menu header" value="1" resourcefile="" />
		<add name="Menu footer Sản phẩm" value="2" resourcefile="" />
		<add name="Menu footer Hỗ trợ" value="4" resourcefile="" />
		<add name="Sidemenu Hỗ trợ khách hàng" value="8" resourcefile="" />
		<add name="Thanh điều hướng Tin tức" value="16" resourcefile="" />
		<add name="Sidemenu sản phẩm" value="32" resourcefile="" />
		<add name="Home sản phẩm" value="64" resourcefile="" />
	</position>

</settings>
