section.canhcam-home-5
	article.home-lists
		.container
			h2 Tin tức
			.row
				.col-sm-6.col-lg-4.item
					a(href="#")
						figure
							.boxzoom
								img(src="./img/home/home_tintuc_1.png", alt="alt")
							figcaption
								time 14.09.2018
								h3 Xử lí như thế nào nếu lỡ tay xịt quá nhiều nước hoa
				.col-md-6.col-lg-4.item
					a(href="#")
						figure
							.boxzoom
								img(src="./img/home/home_tintuc_2.png", alt="alt")
							figcaption
								time 14.09.2018
								h3 Ghé thăm tiệm nước hoa 200 tuổi ở Ấn Độ
				.col-md-6.col-lg-4.item
					a(href="#")
						figure
							.boxzoom
								img(src="./img/home/home_tintuc_3.png", alt="alt")
							figcaption
								time 14.09.2018
								h3 8 bước đơn giản để nhận biết chai nước hoa của bạn là thật hay giả