section.nth-product-ct-2
	.container
		.row
			.col
				.tabs
					.tabs-header
						ul.mb-0
							li.tabs-active
								a(href="#tab-pl-1" tab-pl-id="1") Thông tin sản phẩm
							li
								a(href="#tab-pl-2" tab-pl-id="2") Đánh giá sản phẩm