section.nth-product-ct-1
	.container
		.row
			.col-12.col-lg-8
				.product-slider-wrapper
					.owl-carousel.owl-theme#sync1
						.product-slider-image
							img(src="./img/sanphamct/sanphamct-1.png", alt="")
						.product-slider-image
							img(src="./img/sanphamct/sanphamct-1.png", alt="")
						.product-slider-image
							img(src="./img/sanphamct/sanphamct-2.png", alt="")
					.owl-carousel.owl-theme#sync2
						.product-slider-thumbnail
							img(src="./img/sanphamct/sanphamct-1.png", alt="")
						.product-slider-thumbnail
							img(src="./img/sanphamct/sanphamct-1.png", alt="")
						.product-slider-thumbnail
							img(src="./img/sanphamct/sanphamct-2.png", alt="")
			.col-12.col-lg-4
				.nth-product-ct-info
					.product-info-title
						h1 laura anne rouge
					.product-info-subtitle
						h2 Quyến rũ, say đắm và đầy khát khao
					.product-info-quantity
						p
							|Dung tích 
							strong 50ml
						p
							|Mã sản phẩm 
							strong SP89002
					.product-info-price
						p Giá 249,000 VND
					.product-checkout-button
						a(href="javascript:void(0)").product-checkout-button-style
							img(src="./img/_global/cart.png", alt="")
						.product-linked-shop-wrapper
							h2 SHOPS
							.product-linked-shop
								a(href="javascript:void(0)")
									img(src="./img/sanphamct/shop-1.png", alt="")
								a(href="javascript:void(0)")
									img(src="./img/sanphamct/shop-2.png", alt="")
								a(href="javascript:void(0)")
									img(src="./img/sanphamct/shop-3.png", alt="")
								a(href="javascript:void(0)")
									img(src="./img/sanphamct/shop-4.png", alt="")
								a(href="javascript:void(0)")
									img(src="./img/sanphamct/shop-5.png", alt="")
								a(href="javascript:void(0)")
									img(src="./img/sanphamct/shop-6.png", alt="")
								a(href="javascript:void(0)")
									img(src="./img/sanphamct/shop-7.png", alt="")
								a(href="javascript:void(0)")
									img(src="./img/sanphamct/shop-8.png", alt="")
								a(href="javascript:void(0)")
									img(src="./img/sanphamct/shop-9.png", alt="")
								a(href="javascript:void(0)")
									img(src="./img/sanphamct/shop-10.png", alt="")
								a(href="javascript:void(0)")
									img(src="./img/sanphamct/shop-11.png", alt="")
								a(href="javascript:void(0)")
									img(src="./img/sanphamct/shop-12.png", alt="")

