section.canhcam-new-detail-1
	article.new-lists
		.container
			.row
				.col-lg-9
					.news-read
						h1 Khám phá những bí mật chưa bao giờ kể về nước hoa
						time 
							i.far.fa-calendar-alt
							| 7/11/2018
						p.italic Nước hoa cũng giống như phụ nữ, luôn phảng phất và ẩn chứa những bí mật vô hình bên trong.
						p Nếu như son môi tạo điểm nhấn thu hút ngay từ giây phút đầu tiên thì nước hoa lại ghi dấu ấn khó phai làm người ta cứ lưu luyến mãi về sau. Nhắc đến nước hoa, mọi người thường nghĩ đến một điều gì đó vô hình và khác biệt. Những bí mật về nước hoa mà ELLE chia sẻ sau đây chắc hẳn sẽ làm bạn cảm thấy thích thú.
						img(src="./img/new_detail/new_detail_1.png", alt="")
						h2 MỘT SỐ LOẠI NƯỚC HOA LÀM TỪ HOA THẬT
						img(src="./img/new_detail/new_detail_2.png", alt="")
						p Được thành lập vào năm 1981 bởi cựu nghệ sĩ piano và một người mẫu, Annick Goutal nằm trong danh sách những nhãn hiệu nước hoa cao cấp nhất hiện nay. Tiếp nối thương hiệu của gia đình, con gái của Annick Goutal – Camille Goutal tiết lộ rằng hoa là một trong những thành phần quan trọng nhất mà công ty sử dụng để làm nước hoa.
						p Ẩn chứa bên trong những cánh hoa là hương thơm mang đầy nét quyến rũ và nữ tính. Do vậy, khi chuyển thành mùi hương, nước hoa sẽ mang sự khiêu gợi khó tả mê hoặc cả đàn ông và phụ nữ. Có một số phụ nữ khi sử dụng nước hoa, họ cảm thấy dường như mình đang hòa quyện vào thế giới thiên nhiên huyền bí.
						p Có hai loại xu hướng trong thị trường nước hoa. Một là theo mùa. Hai là phụ thuộc vào thời tiết. Theo khảo sát về thói quen mua sắm của những tín đồ mùi hương, họ sẽ thích sử dụng nước hoa có hương thơm nhẹ nhàng vào mùa hè và ngược lại sẽ chuộng những nốt hương nồng nàn vào mùa lạnh. Nhưng điều này không phải lúc nào cũng đúng. Một số mùi được ưa chuộng trong tận ba năm hoặc cả một thập kỉ. Điển hình là mùi cam quýt và vani dường như có một sức hút không hề nhỏ nên chiếm được rất nhiều cảm tình từ phái đẹp.
						.social-networks.nav
							.nav-item
								.fb-share-button(data-href='', data-layout='button', data-size='small', data-mobile-iframe='true')
									a.fb-xfbml-parse-ignore(target='_blank', href='') Chia sẻ
							.nav-item
								a.twitter-share-button(href='https://twitter.com/share', data-size='medium', data-text='custom share text', data-url='', data-via='twitterdev', data-related='twitterapi,twitter') Tweet
							.nav-item
								.g-plusone(data-size="tall")
				.col-lg-3
					.othernews(data-fix="50", data-fix-type="initial", data-fix-change="sticky")
						.list-latest.lists
							h2 Bài viết liên quan
							a.item(href="#")
								figure
									img(src="./img/new_detail/new_detail_2.png", alt="alt")
									figcaption
										p LKhám phá thế giới nước hoa từ những mùi cơ bản nhất
							a.item(href="#")
								figure
									img(src="./img/new_detail/new_detail_2.png", alt="alt")
									figcaption
										p LKhám phá thế giới nước hoa từ những mùi cơ bản nhất
							a.item(href="#")
								figure
									img(src="./img/new_detail/new_detail_2.png", alt="alt")
									figcaption
										p LKhám phá thế giới nước hoa từ những mùi cơ bản nhất
						.list-relate.lists
							h2 Bài viết mới nhất
							a.item(href="#")
								figure
									img(src="./img/new_detail/new_detail_2.png", alt="alt")
									figcaption
										p Khám phá thế giới nước hoa từ những mùi cơ bản nhất
							a.item(href="#")
								figure
									img(src="./img/new_detail/new_detail_2.png", alt="alt")
									figcaption
										p Khám phá thế giới nước hoa từ những mùi cơ bản nhất
							a.item(href="#")
								figure
									img(src="./img/new_detail/new_detail_2.png", alt="alt")
									figcaption
										p Khám phá thế giới nước hoa từ những mùi cơ bản nhất
