section.nth-ordersupport-2
	.container
		.row
			.col-12.col-lg-3
				#orderSupportSideMenu
			.col-12.col-lg-9
				h1.nth-ordersupport-2-title hỗ trợ mua hàng
				.nth-ordersupport-2-content
					p Quý khách có thể đặt hàng trực tuyến ở website Laura Anne thông qua các bước đặt hàng sau:
					br
					h3 1. Tìm kiếm sản phẩm
					p Quý khách có thể tìm kiếm sản phẩm theo các cách:
					p a. Gõ tên sản phẩm vào thanh tìm kiếm
					p b. Tìm theo danh mục
					p - Sử dụng bộ lọc để lọc sản phẩm theo thuộc tính hoặc khoảng giá của sản phẩm
					br
					h3 1. Tìm kiếm sản phẩm
					p Quý khách có thể tìm kiếm sản phẩm theo các cách:
					p a. Gõ tên sản phẩm vào thanh tìm kiếm
					p b. Tìm theo danh mục
					p - Sử dụng bộ lọc để lọc sản phẩm theo thuộc tính hoặc khoảng giá của sản phẩm