footer.nth-footer-1
	section.footer-subscribe
		.container
			.footer-subscribe-wrapper
				.footer-promotion
					a(href="#") nhận ngay khuyến mãi
				.subscribe-form
					input(type="text")
					button Đăng ký
				.social-links
					a(href="#").social-follow follow us
					a(href="#").social-button
						i.fab.fa-facebook-f
					a(href="#").social-button
						i.fab.fa-youtube
					a(href="#").social-button
						i.fab.fa-google-plus-g
					a(href="#").social-button
						i.fab.fa-instagram
	section.footer-navigator(bg-img="./../img/_global/footer_bg.png")
		article.footer-nav
			.container
				.row
					.col-12.col-md-6.col-lg-3.footer-nav-item
						h2.footer-nav-title về laura anne
						a(href="#").footer-nav-links Giới thiệu công ty Venus
						a(href="#").footer-nav-links Giới thiệu thương hiệu Laura Anne
					.col-12.col-md-6.col-lg-3.footer-nav-item
						h2.footer-nav-title liên hệ
						a(href="#").footer-nav-links Tầng 16, Tòa Nhà Saigon Tower Số 29 Lê Duẩn, P. Bến Nghé, Q. 1, TP.HCM
						a(href="#").footer-nav-links +84 - 28 66 80 70 68
						a(href="#").footer-nav-links info@venus-inc.vn
					.col-12.col-md-6.col-lg-3.footer-nav-item
						h2.footer-nav-title sản phẩm
						a(href="#").footer-nav-links For Him
						a(href="#").footer-nav-links For Her
					.col-12.col-md-6.col-lg-3.footer-nav-item
						h2.footer-nav-title Hỗ trợ mua hàng
						a(href="#").footer-nav-links Hỏi đáp
						a(href="#").footer-nav-links Trở thành đối tác
		article.footer-copyright
			.container
				.row
					.col-12
						p
							span Copyright © 2018 Laura Anne. All rights reserved. Designed by 
							a(href="https://www.canhcam.vn/") Cánh Cam
