section.nth-product-ct-7
	.container
		article#productCtList.owl-carousel.owl-theme
			a.item(href="#")
				figure
					.boxzoom
						img(src="./img/home/home_sanphamnoibat_1.png", alt="alt")
					figcaption
						hgroup
							h3 LAURA ANNE
							h4 BLEU - POUR HOMME
						.price 1130.000 đ
			a.item(href="#")
				figure
					.boxzoom
						img(src="./img/home/home_sanphamnoibat_2.png", alt="alt")
					figcaption
						hgroup
							h3 LAURA ANNE
							h4 BLEU - POUR HOMME
						.price 1130.000 đ
			a.item(href="#")
				figure
					.boxzoom
						img(src="./img/home/home_sanphamnoibat_3.png", alt="alt")
					figcaption
						hgroup
							h3 LAURA ANNE
							h4 BLEU - POUR HOMME
						.price 1130.000 đ
			a.item(href="#")
				figure
					.boxzoom
						img(src="./img/home/home_sanphamnoibat_4.png", alt="alt")
					figcaption
						hgroup
							h3 LAURA ANNE
							h4 BLEU - POUR HOMME
						.price 1130.000 đ
			a.item(href="#")
				figure
					.boxzoom
						img(src="./img/home/home_sanphamnoibat_1.png", alt="alt")
					figcaption
						hgroup
							h3 LAURA ANNE
							h4 BLEU - POUR HOMME
						.price 1130.000 đ


