section.nth-allocation-1
	.container
		.row
			.col-12
				.nth-allocation-1-tagline
					h1 Mạng lưới phân phối
					p VENUS hợp tác Công ty cổ phần mỹ phẩm Sài Gòn (SCC) trong vấn đề  đối tác chiến lược lâu dài với mạng lưới phân phối với hơn 60,000 đại lý trên cả nước. VENUS đảm bảo rằng đội ngũ bán hàng thân thiện, chuyên nghiệp giúp cho dòng sản phẩm Laura Anne đến tay người tiêu dùng trong tình trạng tốt &amp; nguyên vẹn nhất. Chế độ chăm sóc khách hàng nhanh chóng &amp; linh hoạt luôn khiến khách hàng tin tưởng &amp; hài lòng.