section.nth-news-7
	.container
		.row.nth-news-7-wrapper
			.col-12.col-md-6.col-lg-3
				a(href="#")
					figure.news
						.box-zoom
							img(src="./img/thuvien/gallery-1.png", alt="")
						figcaption
							h3 Khám phá những bí mật chưa bao giờ kể về nước hoa
			.col-12.col-md-6.col-lg-3
				a(href="#")
					figure.news
						.box-zoom
							img(src="./img/thuvien/gallery-1.png", alt="")
						figcaption
							h3 Khám phá những bí mật chưa bao giờ kể về nước hoa
			.col-12.col-md-6.col-lg-3
				a(href="#")
					figure.news
						.box-zoom
							img(src="./img/thuvien/gallery-1.png", alt="")
						figcaption
							h3 Khám phá những bí mật chưa bao giờ kể về nước hoa
			.col-12.col-md-6.col-lg-3
				a(href="#")
					figure.news
						.box-zoom
							img(src="./img/thuvien/gallery-1.png", alt="")
						figcaption
							h3 Khám phá những bí mật chưa bao giờ kể về nước hoa