section.nth-product-ct-3
	.container
		.row
			.col
				.tab.tab-active.nth-product-ct-fullcontent(tab-pl-id="1")
					.row
						.col-md-8
							h3 Mùi hương
							p Individuel Rouge giúp bạn khẳng định cá tính thông qua mùi hương tươi mát của cam bergamot và cay nồng của đinh hương rất đặc trưng, thách  thức  ranh  giới  táo  bạo  của  sự  đam mê.
							br
							h3 Mùi hương
							p Individuel Rouge giúp bạn khẳng định cá tính thông qua mùi hương tươi mát của cam bergamot và cay nồng của đinh hương rất đặc trưng, thách  thức  ranh  giới  táo  bạo  của  sự  đam mê.
							br
						.col-md-4
							img(src="./img/home/home_tintuc_3.png", alt="")
					.row
						.col
							a#productCtFullContentToggle(href="javascript:void(0)") Xem thêm
				.tab.nth-product-ct-testimotional(tab-pl-id="2")
					.row
						.col-md-4
							.social-login
								h3 viết đánh giá
								p Đăng nhập để viết đánh giá
								ul
									li
										a.facebook-login(href="javascript:void(0)")
											i.fab.fa-facebook-f
											span Facebook
									li
										a.google-login(href="javascript:void(0)")
											i.fab.fa-google-plus-g
											span Google
						.col-md-8
							.testimotional
								.testimotional-time
									img(src="./img/_global/user.png", alt="")
									p 13/03/2018
								.testimotional-content
									p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem nostrum velit cumque reprehenderit quo pariatur ducimus quidem, perferendis maxime. Quo assumenda at mollitia distinctio et odio rem totam voluptate voluptas.
							.testimotional
								.testimotional-time
									img(src="./img/_global/user.png", alt="")
									p 13/03/2018
								.testimotional-content
									p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem nostrum velit cumque reprehenderit quo pariatur ducimus quidem, perferendis maxime. Quo assumenda at mollitia distinctio et odio rem totam voluptate voluptas.