extends _layout/layout.pug
block variables
	- var title = "gallery"
	- var description = "Description for gallery page"
	- var bodyclass = "gallery"
	- var href = "/gallery.html"
block header
	include ../lib/header/h-1/index.pug
block body
	include ../lib/banner/b-1/index.pug
	include ../lib/breadcrumb/b-1/index.pug
	include ../lib/gallery/g-1/index.pug
	include ../lib/gallery/g-2/index.pug
	include ../lib/gallery/g-3/index.pug
	include ../lib/gallery/g-4/index.pug
	include ../lib/gallery/g-5/index.pug
	include ../lib/gallery/g-6/index.pug
	include ../lib/gallery/g-7/index.pug
	include ../lib/gallery/g-8/index.pug
block footer
	include ../lib/footer/f-1/index.pug
