extends _layout/layout.pug
block variables
	- var title = "ordersupport"
	- var description = "Description for ordersupport page"
	- var bodyclass = "ordersupport"
	- var href = "/ordersupport.html"
block header
	include ../lib/header/h-1/index.pug
block body
	include ../lib/banner/b-1/index.pug
	include ../lib/breadcrumb/b-1/index.pug
	include ../lib/ordersupport/o-1/index.pug
	include ../lib/ordersupport/o-2/index.pug
block footer
	include ../lib/footer/f-1/index.pug
