extends _layout/layout.pug
block variables
	- var title = "product-ct"
	- var description = "Description for product-ct page"
	- var bodyclass = "product-ct"
	- var href = "/product-ct.html"
block header
	include ../lib/header/h-1/index.pug
block body
	include ../lib/banner/b-1/index.pug
	include ../lib/breadcrumb/b-1/index.pug
	include ../lib/product-ct/p-1/index.pug
	include ../lib/product-ct/p-2/index.pug
	include ../lib/product-ct/p-3/index.pug
	include ../lib/product-ct/p-4/index.pug
	include ../lib/product-ct/p-5/index.pug
	include ../lib/product-ct/p-6/index.pug
	include ../lib/product-ct/p-7/index.pug
block footer
	include ../lib/footer/f-1/index.pug
