extends _layout/layout.pug
block variables
	- var title = "tips"
	- var description = "Description for tips page"
	- var bodyclass = "tips"
	- var href = "/tips.html"
block header
	include ../lib/header/h-1/index.pug
block body
	include ../lib/banner/b-1/index.pug
	include ../lib/breadcrumb/b-1/index.pug
	include ../lib/tips/t-1/index.pug
	include ../lib/tips/t-2/index.pug
	include ../lib/tips/t-3/index.pug
	include ../lib/tips/t-4/index.pug
	include ../lib/tips/t-5/index.pug
	include ../lib/tips/t-6/index.pug
	include ../lib/tips/t-7/index.pug
	include ../lib/tips/t-8/index.pug
block footer
	include ../lib/footer/f-1/index.pug
