section.nth-product-1#productFilterToMap
	.nth-product-filter-sidemenu
		h2 sản phẩm
		.product-filter-categories-wrapper
			ul.product-filter-categories.product-filter-categories-active
				li.main-categories
					a(href="javascript:void(0)").product-categories-title for him
					.product-categories-toggle-button
						i.lnr.lnr-chevron-down
				li.sub-categories
					i.lnr.lnr-chevron-right
					a(href="javascript:void(0)").product-categories-sub nước hoa
				li.sub-categories
					i.lnr.lnr-chevron-right
					a(href="javascript:void(0)").product-categories-sub sữa tắm
			ul.product-filter-categories
				li.main-categories
					a(href="javascript:void(0)").product-categories-title for her
					.product-categories-toggle-button
						i.lnr.lnr-chevron-down
				li.sub-categories
					i.lnr.lnr-chevron-right
					a(href="javascript:void(0)").product-categories-sub nước hoa
				li.sub-categories
					i.lnr.lnr-chevron-right
					a(href="javascript:void(0)").product-categories-sub sữa tắm

		.product-filter
			.product-filter-main-title
				h3 Bộ lọc
				.product-filter-toggle-button
					.product-filter-toggle-button-horizontal-line
					.product-filter-toggle-button-vertical-line
			.product-filter-attribute-wrapper
				.product-filter-attribute
					h4.product-filter-attribute-title product line
					.product-filter-attribute-item
						.product-filter-attribute-option
							a(href="#") Sữa tắm
						.product-filter-attribute-option
							a(href="#") Nước hoa
				.product-filter-attribute
					h4.product-filter-attribute-title dung tích
					.product-filter-attribute-item
						.product-filter-attribute-option
							a(href="#") 20ml
						.product-filter-attribute-option
							a(href="#") 50ml
				.product-filter-attribute
					h4.product-filter-attribute-title phong cách
					.product-filter-attribute-item
						.product-filter-attribute-option
							a(href="#") Quyến rũ &amp; Gợi cảm
						.product-filter-attribute-option
							a(href="#") Can đảm &amp; Thách thức
						.product-filter-attribute-option
							a(href="#") Hiện đại &amp; Năng động
				.product-filter-attribute
					h4.product-filter-attribute-title Khoảng giá
					input(type="text" value="" data-slider-min="10" data-slider-max="1000" data-slider-step="5" data-slider-value="[250,450]").productPriceRange
					.priceRangeToolTips
						|Giá từ 
						span.priceMinRange 100,000 đ 
						|đến 
						span.priceMaxRange 1,000,000 đ
				.product-filter-attribute
					h4.product-filter-attribute-title khuyến mãi
					.product-filter-attribute-item
						.product-filter-attribute-option
							a(href="#") Đang khuyến mãi
						.product-filter-attribute-option
							a(href="#") Không khuyến mãi

		.product-filter-sidemenu-close-button
			i.lnr.lnr-cross

	.product-filter-sidemenu-backdrop
