section.nth-ordersupport-1
	.container
		.row
			.col-12(nth-map-to="orderSupportSideMenu")#orderSupportSideMenuWrapper
				h2.nth-ordersupport-title hỗ trợ khách hàng
				.nth-ordersupport-nav
					a(href="#") hỏi đáp
					a(href="#").nth-ordersupport-nav-active hỗ trợ mua hàng
		