section.nth-allocation-3
	.nth-allocation-3-sidemenu#allocationSidemenuWrapper
		.nth-allocation-3-placechooser
			h2 Tìm cửa hàng
			select(bg-img="./img/_global/selectarrow.png")
				option(value='Chọn tỉnh/thành phố' selected disabled) Chọn tỉnh/thành phố
				option(value="1") test1
				option(value="2") test2
			select(bg-img="./img/_global/selectarrow.png")
				option(value='Chọn quận/huyện' selected disabled) Chọn quận/huyện
				option(value="1") test1
				option(value="2") test2
			select(bg-img="./img/_global/selectarrow.png")
				option(value='Chọn trung tâm mua sắm' selected disabled) Chọn trung tâm mua sắm
				option(value="1") test1
				option(value="2") test2
			input(type="submit" value="Tìm kiếm")
		ul.nth-allocation-3-mapchooser
			li.mapchooser-active
				h3 Chi nhánh Sài Gòn
				p 162 Trần Hưng Đạo, Phường 7, Quận 5, TPHCM
				p 028.39.526.306
			li
				h3 Chi nhánh An Phú
				p 649/36 Điện Biên Phủ, Phường 25, Quận Bình Thạnh, TP.HCM
				p Điện thoại: 028.38.995.995
			li
				h3 Chi nhánh Sài Gòn
				p 162 Trần Hưng Đạo, Phường 7, Quận 5, TPHCM
				p 028.39.526.306
			li
				h3 Chi nhánh Sài Gòn
				p 162 Trần Hưng Đạo, Phường 7, Quận 5, TPHCM
				p 028.39.526.306
			li
				h3 Chi nhánh Sài Gòn
				p 162 Trần Hưng Đạo, Phường 7, Quận 5, TPHCM
				p 028.39.526.306
			li
				h3 Chi nhánh Sài Gòn
				p 162 Trần Hưng Đạo, Phường 7, Quận 5, TPHCM
				p 028.39.526.306
			li
				h3 Chi nhánh Sài Gòn
				p 162 Trần Hưng Đạo, Phường 7, Quận 5, TPHCM
				p 028.39.526.306
			li
				h3 Chi nhánh Sài Gòn
				p 162 Trần Hưng Đạo, Phường 7, Quận 5, TPHCM
				p 028.39.526.306
			li
				h3 Chi nhánh Sài Gòn
				p 162 Trần Hưng Đạo, Phường 7, Quận 5, TPHCM
				p 028.39.526.306
			li
				h3 Chi nhánh Sài Gòn
				p 162 Trần Hưng Đạo, Phường 7, Quận 5, TPHCM
				p 028.39.526.306
			li
				h3 Chi nhánh Sài Gòn
				p 162 Trần Hưng Đạo, Phường 7, Quận 5, TPHCM
				p 028.39.526.306
			li
				h3 Chi nhánh Sài Gòn
				p 162 Trần Hưng Đạo, Phường 7, Quận 5, TPHCM
				p 028.39.526.306
		a(href="javascript:void(0)").nth-allocation-3-closebutton
			i.mdi.mdi-close
	.nth-allocation-3-backdrop