section.canhcam-home-4(bg-img="./img/home/home_khuyemai_bg.png")
	article.home-lists
		.container
			h2 Khuyến mãi
			.row
				.col-lg-6
					.item(bg-img="./img/home/home_khuyenmai_1.png")
						.content
							h3
								| Black Friday - Sale up to 20% các 
								br
								| sản phẩm dòng Little Dress 
							.seemore
								a(href="") xem thêm
				.col-lg-6
					.item(bg-img="./img/home/home_khuyenmai_2.png")
						.content
							h3
								| Mừng ngày Quốc tế Phụ nữ  
								br
								| 20-10 Sale off 15% tất cả
								br
								| sản phẩm For Her
							.seemore
								a(href="") xem thêm