section.nth-about-1(bg-img="./img/sanphamct/sanphamct-bg.png")
	.container
		.row
			.col-12.col-lg-5.offset-lg-1
				figure.about-1-logo
					img(src="./img/_global/logo.png", alt="")
				.about-1-content
					p 
						|Laura Anne là một thương hiệu nước hoa thuộc công ty 
						a(href="#") Venus 
						| - là một doanh nghiệp quốc tế chuyên về làm đẹp có trụ sở tại Singapore nhắm đến những bạn trẻ Việt Nam năng động, cá tính và hiện đại, bao gồm 6 mùi hương dành cho cả nam và nữ, phù hợp với 3 cá tính khác nhau của giới trẻ: Năng động - Quyến rũ - Mạnh mẽ.
					br
					p Laura Anne không chỉ muốn đem đến những mùi hương với chất lượng tốt, giá cả hợp lý với giới trẻ Việt Nam mà còn mang lại nguồn cảm hứng cho người tiêu dùng, mang lại cơ hội khám phá thế giới làm đẹp và trải nghiệm thế giới mùi hương, từ đó thể hiện cá tính riêng biệt của bản thân.
			.col-12.col-lg-5
				figure.about-1-img
					img(src="./img/home/home_gioithieu_1.png", alt="").img-fluid